*{
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;    
    max-width: 1440px;
    margin:0 auto;
}

body {    
    font-size: 20px;
    font-weight: 400;
    background-color:hsl(216, 12%, 8%);    
}

.container {    
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 440px;
    background-color:hsl(213, 19%, 18%);
    text-align: center;
    margin-top: 150px;
    border-radius: 20px;
    margin-bottom: 150px;
}
 .icon {    
    display: flex;
    background-color: hsl(217, 12%, 63%, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 20px;
} 

h1 {
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    width: 80%;
    text-align: start;
    margin-top: 20px;   
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    width: 80%;
    text-align: start;
    margin-top: 20px;
    line-height: 30px;
}

.rate {
    display: flex;
    color: hsl(0, 0%, 100%); 
    margin: 30px 30px;
}

.rating {
    display: flex;
    background-color: hsl(217, 12%, 63%, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;  
}
.rating.active {
    background-color: #7c8798;
    color: #fff;
}
.rating:hover {
    background:hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.submit {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border: none;
}

.submit:hover{
    background-color:hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

/* Thanks you component */
.thank_img {
    margin: 35px;
}

.result_rate {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%,0.2);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

h2{
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.result_ty {
    color: hsl(217, 12%, 63%);
    text-align: center;
}

.dsp_none {
    display: none;
}


/* Starts the mobile */
@media screen and (max-width: 375px) {
    .container {
        width: 93%;
        height: 100%;
    }

    .submit {
        width: 70%;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 32px;
        width: 95%;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .result_ty {
        margin-bottom: 20px;
    }
  }